[submodule "advance"]
	path = advanced-terraform-3099246
	url = https://github.com/LinkedInLearning/advanced-terraform-3099246.git

[submodule "learn"]
	path = learning-terraform-3087701
	url = https://github.com/LinkedInLearning/learning-terraform-3087701.git

[submodule "azure"]
	path = terraform-azure-2453108
	url = https://github.com/LinkedInLearning/terraform-azure-2453108.git